<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

<body>

  <%- include('layouts/header') %>

  <section class="conA">
    <div class="container">
      <p>貸し出し状況</p>
      <% for(var i= 0; i < deviceposts.length; i++){ %>
      <div class="card" style="max-width:25rem">
        <h4 class="card-header"><%= deviceposts[i].device_name %> </h4>
        <img class="card-img-top" src="<%= deviceposts[i].image %> ">
        <div class="card-body">
          <h4 class="card-title">使用者:　<%= deviceposts[i].user %> </h4>
          <h6 class="card-subtitle">使用場所:　<%= deviceposts[i].location %> </h6>
        </div>
      </div>
      <div class="card-footer">
        <p type="button" class=" btn btn-success">貸し出し可</p>
      </div>

      <% } %>
      <a href="/home">ホームへ</a>
    </div>
  </section>

  <%- include('layouts/footer') %>
</body>

</html>