<!DOCTYPE html>
<html lang="ja">

<%- include('layouts/head') %>

  <body>

    <%- include('layouts/header') %>

      <section class="conA">
        <div class="container col-sm-8">
          <a class="btn btn-outline-info btn-sm mb-2" href="/home">ホームへ</a>
          <div class="shadow-sm p-3 mb-5 bg-light rounded">
          <h6 class="text-center">貸し出し状況</h6>
          </div>
          <div>
            <nav class="navbar navbar-light bg-light">
              <form class="form-inline" action="/research" method="POST">
                <input style="width: 75%;" class="form-control mr-sm-2 mx-1" type="text" placeholder="Search"
                  name="name">
                <button class="btn  btn-outline-success my-2 my-sm-0" type="submit">検索</button>
              </form>
            </nav>
          </div>

          <% for(var i=0; i < deviceposts.length; i++){ %>
            <table class="table mb-0">
              <tbody>
                <tr class="shadow-sm p-3 mb-5 bg-light rounded">
                  <th style="width: 20%;">
                    <img src="<%= deviceposts[i].imageSrc %> " class="img-fluid img-thumbnail rounded">
                  </th>
                  <td class="align-middle text-center" style="width: 45%;">
                    <a style="font-size: 2.5vw;" href="/status/<%= deviceposts[i]._id  %>  ">
                      <%= deviceposts[i].device_name %>
                    </a>
                  </td>
                  <% if(deviceposts[i].flag==true) {%>
                    <td class="align-middle text-center" style="width: 35%;">
                      <div type="button" class=" btn btn-success" style="font-size: 2vw;">貸し出し可</div>
                    </td>
                    <% } %>
                      <% if(deviceposts[i].flag==false){ %>
                        <td class="align-middle text-center" style="width: 35%;">
                          <p type="button" class=" btn btn-danger" style="font-size: 2vw;">貸し出し中</p>
                        </td>
                        <% } %>
                </tr>
              </tbody>
            </table>

            <% } %>
        </div>
      </section>

      <%- include('layouts/footer') %>
  </body>

</html>